<p>This is where you will be able to perform CRUD operations and find out the Location of Items</p>
<p>Mongo Connection Established</p>

<form>
    <label for="create">Insert Item into DB</label><br>
    <input type="text" id="insert" name="insert"><br>
    <label for="read">Read from DB</label><br>
    <input type="submit" id="lname" name="lname">
  </form>

  